<template>
    <div>
      <div class="title">周末去哪儿</div>
      <ul>
          <li class="item border-bottom" v-for="item of list" :key="item.id">
              <div class="item-img-wrapper">
                  <img class="item-img" :src="item.imgUrl"/>
              </div>
              <div class="item-info">
                 <p class="item-title">{{item.title}}</p>
                 <p class="item-desc">
                     {{item.desc}}
                 </p>
              </div>
          </li>
      </ul>
    </div>
</template>
<script>
export default {
  name: 'HomeRecommend',
  props: {
    list: Array
  }
}
</script>
<style lang="stylus" scoped>
  @import '~styles/mixins.styl'
  .title
    margin-top: .2rem
    line-height: .8rem
    background: #eee
    text-indect: .2rem
  .item-img-wrapper
    overflow: hidden
    height: 0
    padding-bottom: 37.09%
  .item-img
    width: 100%
  .item-info
    flex: 1
    padding: .1rem
    min-width: 0
    .item-title
      line-height: .54rem
      font-size: .32rem
      ellipsis()
    .item-desc
      line-height: .4rem
      color: #ccc
      ellipsis()
    .item-button
      line-height: .44rem
      margin-top: .16rem
      background: #ff9300
      padding: 0 .2rem
      border-radius: .06rem
      color: #fff
</style>
